



<div class="header2020">
    <div class="welcome">
        <h2><br>WELCOME <br> TO THE PLATFORM WHERE</h2>
        <h5>WHERE YOU CAN SEARCH FOR GITHUB USERS</h5>
        <p>AMAZING PEOPLE LEAVE A MARK IN PEOPLES LIVES</p> 
       
    </div>
</div>

<div class="col-md-6">
    <img style="border-radius: 50px;" src="{{user.avatar_url}}" alt="">

</div>

<div class="container-fluid">
    <h3>My Profile Details</h3>
    <p *ngIf='user'>
        <!-- <img src="{{user.avatar_url}}" alt=""> -->
        
        Name:  {{user.name}} <br>
        Username: {{user.login}} <br>
        Followers: {{user.followers}} <br>
        Following: {{user.following}} <br>
        <!-- Profile Link {{user.url}} -->
        
    </p>
    <h3>My Repositories</h3>
    <!-- <div *ngFor="let repo of repository" class="card col-md" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{repo.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{repo.language}}</h6>
          <p class="card-text"> {{repo.description}} </p>
          <a href="{{ repo.html_url }}" class="btn btn-secondary btn-sm" target="_blank">View on GitHub</a>
        </div>
      </div>
</div> -->

<div class="container" style="text-align: center;">

    <div class="row" >
        <div class="col-md-6" *ngFor="let repo of repository">
            <div class="card mt-3">

                <p class="text-center pt-4 para">
                    {{repo.name|uppercase}} <br>
                    Created on {{ repo.created_at|dateCount}}
                </p>

                <hr>
                <p>
                    {{repo.description}}
                </p>

                <p>
                    {{repo.language}}
                </p>
             
                <div class="card-footer text-center">
                    <a href="{{ repo.html_url }}" class="btn btn-secondary btn-sm" target="_blank">View on GitHub</a>
                </div>

            </div>
        </div>
