<p>git-form works!</p>

<div class="container-fluid">
    <h3>To Search, <br> Please Input Either...</h3>
    <form>
    <div class="form-group">
      <label for="exampleInputEmail1">GitHub Repo Name</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    or <br>
    
    <div class="form-group">
      <label for="exampleInputPassword1">GitHub Profile Name</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    
    <button type="submit" class="btn btn-primary btn-sm">Submit</button>
  </form>
</div>

