
<!-- 
<div class="container-fluid">
    <h3>To Search, <br> Please Input Either...</h3>

    <form >
    <div class="form-group">
      <label for="repository">GitHub Repo or Profile Name</label>
      <input type="text" class="form-control" placeholder="GitHub Repository Name" >
    </div>

    <button type="submit" class="btn btn-primary btn-sm" (click)= "searchUser">Submit</button>

  </form>
</div> -->

<!--  
<div class="container">
    <div class="row" style="margin-top: 30px;">
     
        <h2 >Search your Repositories here using gitHub Username</h2>
        <div class="col-md-6 pt-2" >
            <form class="form-inline md-form mr-auto mb-4"#name="ngForm">
                <input class="form-control  mr-sm-2" type="text" placeholder="Enter GitHub name" aria-label="Search"  [(ngModel)] ="Username" name="UserName">
                <button mdbBtn size="sm"  rounded="true" class="my-0 waves-light btn btn-success" mdbWavesEffect
                    type="submit" (click)=" searchUser">Search user</button>
            </form>
        </div>

    </div>

</div> -->


