<p>git-form works!</p>

<div class="container-fluid">
    <h3>To Search, <br> Please Input Either...</h3>

    <form>
    <div class="form-group">
      <label for="repository">GitHub Repo Name</label>
      <input type="text" class="form-control" placeholder="GitHub Repository Name" >
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    or <br>

    <div class="form-group">
      <label for="name">GitHub Profile Name</label>
      <input type="text" class="form-control" placeholder="GitHub Profile Name">
    </div>
    
    <button type="submit" class="btn btn-primary btn-sm">Submit</button>

  </form>
</div>

