<div class="container">
    <div class="row" style="margin-top: 30px;">
     
        <h2 >Search your Repositories here using gitHub Username</h2>
        <div class="col-md-6 pt-2" >
            <form class="form-inline md-form mr-auto mb-4"#name="ngForm">
                <input class="form-control  mr-sm-2" type="text" placeholder="Enter GitHub name" aria-label="Search"  [(ngModel)] ="UserName" name="UserName">
                <button mdbBtn size="sm"  rounded="true" class="my-0 waves-light btn btn-success" mdbWavesEffect
                    type="submit" (click)=" searchUser()">Search user</button>
            </form>
        </div>

    </div>

</div> 
<!--   
  <app-git-form (emitSearch)="searchUser($event)"></app-git-form> -->
  
  <!-- <p *ngIf='user'>
    </p> -->
    <p *ngIf='user'>
        Name:  {{user.name}} <br>
        Username: {{user.login}} <br>
        Followers: {{user.followers}} <br>
        Following: {{user.following}} <br>
        
        
    </p>
    
    
    <p>End</p>
    