<div class="container">
    <div class="row" style="margin-top: 30px;">
     
        <h2 >Search your Repositories here using gitHub Username</h2>
        <div class="col-md-6 pt-2" >
            <form class="form-inline md-form mr-auto mb-4"#name="ngForm">
                <input class="form-control  mr-sm-2" type="text" placeholder="Enter GitHub name" aria-label="Search"  [(ngModel)] ="UserName" name="UserName"> <br>
                <button mdbBtn size="sm"  rounded="true" class="my-0 waves-light btn btn-success btn-sm" mdbWavesEffect
                    type="submit" (click)=" searchUser()">Search user</button>
            </form>
        </div>

    </div>

        <p *ngIf='user'>
            Name:  {{user.name}} <br>
            Username: {{user.login}} <br>
            Followers: {{user.followers}} <br>
            Following: {{user.following}} <br>
        </p>
        
        <div class="container" style="text-align: center;">

            <div class="row" >
                <div class="col-md-6" *ngFor="let repo of repository">
                    <div class="card mt-3">
        
                        <p class="text-center pt-4 para" appUppercase>
                            {{repo.name|uppercase}} <br>
                            Created {{ repo.created_at|dateCount}}
                        </p>
        
                        <hr>
                        <p>
                            {{repo.description}}
                        </p>
        
                        <p>
                            {{repo.language}}
                        </p>
                     
                        <div class="card-footer text-center">
                            <a href="{{ repo.html_url }}" class="btn btn-secondary btn-sm" target="_blank">View on GitHub</a>
                        </div>
        
                    </div>
                </div>
            
        </div> 